---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
@import 'https://fonts.googleapis.com/css?family=Lato';

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #1c6ccf;
$brand-color-light: lighten($brand-color, 25%);
$brand-color-dark:  darken($brand-color, 25%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          766px;
$on-laptop:        800px;

// start content


html {
  position: relative;
  min-height: 100%;
  
  a {
    color: $brand-color;
    &:hover {
      color: $brand-color-light;
    }
  }
}


body {
	background: linear-gradient(-45deg, #1c6cce, #6cce1c, #7e1cce);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
  font-family: 'Lato', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container > header {
  border-bottom: 5px solid $brand-color;
}

main {
  flex-grow: 1;
}

#welcome-message {
  background-image: url("/img/images/welcome-image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
  background-color: $brand-color;
}


.contact {
  .contact-info {
    text-align: center;
    img {
      border-radius: 250px;
    }
    p {
      text-align: left;
    }
  }
  .alert {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

footer {
  h2, h3 { 
    border-bottom: 5px solid $brand-color;
    padding-bottom: 10px;
  }
}