---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #1c6ccf;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          766px;
$on-laptop:        800px;

// start content
@import 'https://fonts.googleapis.com/css?family=Lato';

body {
  background: url('/img/concrete_seamless.png');
  font-family: 'Lato', sans-serif;
}

.container > header {
  border-bottom: 5px solid $brand-color;
}

main .container , footer.container {
  padding: 0px;
  width: 100% !important;
}

nav.navbar.navbar-default {
  background: none;
  padding: 10px 0px;
  margin-bottom: 0px;
  border: none;
  .container-fluid {
    padding: 0px;
  }
  .navbar-brand {
    padding: 0px;
    margin: 0px;
    height: 50px;
    img {
      height: 100%;
    }
  }
  .navbar-nav a {
    height: 50px;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
    font-size: 150%;
    color: $brand-color;
    &:hover {
      background-color: $brand-color;
      color: $background-color;
    }
  }
  button {
    background: $brand-color;
    color: $background-color;
    .icon-bar {
      color: $background-color;
      background: $background-color;
    }
  }
}
section, footer {
  h2, h3 { 
    border-bottom: 5px solid $brand-color;
    padding-bottom: 10px;

  }
}