---
layout: blog
---

{% for post in site.posts %}

<article class="card mb-4">
  {% if post.image %}
    <img src="{{ post.image }}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{ post.title | escape }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: "%b %-d, %Y" }}</h6>
    <p class="card-text">{{ post.excerpt }}</p>
    <a href="{{ post.url | prepend: site.baseurl }}" class="card-link">Read more...</a>
  </div>
</article>

{% endfor %}
