---
layout: default
---

<div class="projects">

  <h1 class="page-heading">Projects</h1>
  
  <div class="container">

  {% assign loopindex = 0 %}
  {% for project in site.projects %}                     
    {% assign loopindex = loopindex | plus: 1 %}
    {% assign rowfinder = loopindex | modulo: 4 %}
    {% if rowfinder == 1 %}
      <div class="row">
    {% endif %}
    <div class="col-md-6">
      <div class="panel panel-default panel-primary">
        <div class="panel-heading">
          <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">
            <h3><i class="fa {{ project.icon }}" aria-hidden="true"></i>{{ project.title | escape }}</h3>
          </a>
        </div>
        <div class="panel-body">
          <img src="{{ project.image }}" alt="{{ project.title | escape }}">
          {{project.excerpt}}
          <a class="btn btn-default" href="{{ project.url | prepend: site.baseurl }}" role="button">Read More...</a>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if rowfinder != 0 %}
    </div>
  {% endif %}
  
  </div>

</div>