<form id="contact-form" action="https://formspree.io/me@aaronfruth.com" method="POST">
  
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="name" name="name" placeholder="name@example.com">
    <label for="name">Name</label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="_replyto" name="_replyto" placeholder="name@example.com">
    <label for="_replyto">Email address</label>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3 form-floating">
    <select class="form-select" aria-label="Default select example" name="reason" id="reason" required>
      <option value="" selected></option>
      <option value="job">Job Opportunity</option>
      <option value="consultant">Consultant Work</option>
      <option value="existing">Support for Existing Projects</option>
      <option value="project">New Projects</option>
      <option value="general">General Questions</option>
    </select>
    <label for="reason">Reason for Contact</label>
  </div>


  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Leave a comment here" id="message" name="message" style="height: 100px"></textarea>
    <label for="message">Comments</label>
  </div>
  
  <input type="hidden" name="_format" value="plain" />
  <input type="text" name="_gotcha" style="display:none" />
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send">
  <div class="alert hide" id="form-feedback" role="alert"></div>
</form>