<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="/img/logo.png" height="50"/>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="white"><use xlink:href="/img/bootstrap-icons.svg#house-fill"></use></svg>
              Home
            </a>
          </li>
          <!--li>
            <a href="/projects.html" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="white"><use xlink:href="/img/bootstrap-icons.svg#motherboard-fill"></use></svg>
              Projects
            </a>
          </li>
          <li>
            <a href="/blog.html" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="white"><use xlink:href="/img/bootstrap-icons.svg#chat-square-quote-fill"></use></svg>
              Blog
            </a>
          </li-->
          <li>
            <a href="/contact.html" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="white"><use xlink:href="/img/bootstrap-icons.svg#megaphone-fill"></use></svg>
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>